.right {
    position: relative;
    right: -220px;
    float: right;
    height: 100px;
    width: 200px;
    margin-left: -200px;
    background: blue;
    border-top-left-radius: 5px;
    transform:rotate(-3deg); 
  }